@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form asp-controller="User" asp-action="AddUser" method="POST"> 

    <input name="login" type="text"/>
    <input name="password" type="password" />
    <input type="submit" value="soumettre" />
</form>